html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.skip-to-page-content,
.skip-to-primary-search,
.jump-to-page-top {
  @include hide-offscreen;

  &:focus {
    @include show-onscreen;
    font-weight: bold;  
  }
}


html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}
