// ––– Google fonts
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,600;1,300;1,600&display=swap');

$font-body-01:     'Lora', serif;
$font-body-02:     'Roboto', sans-serif;
$font-header-01:   'Zilla Slab', serif;


html {
  font-size: 62.5%;  // sets up the Base 10 stuff
}

body, p, ul {
	font-family: $font-body-01;
	@include font-size(1.8);

	.small-type,
	&.small-type {
		@include font-size(1.2);
	}
}

// ––– Headings
#content-main {

	h1, h2, h3, h4, h5 {
		font-family: $font-body-01;
		font-weight: bold;
	}

	h1 {
		margin: 0;
		padding-bottom: 0.5em;
		@include font-size(2.8);
	}
	h2 {
		margin: 0;
		padding-bottom: 0.5em;
		@include font-size(2.6);
	}
	h3 {
		margin: 0;
		padding-bottom: 0.5em;
		@include font-size(2.2);

		+ p {
			margin-top: 0.25em;
		}
	}
	h4 {
		margin: 1em 0 0 0;
		padding-bottom: 0.25em;
		font-style: italic;
		@include font-size(2.0);

		+ p {
			margin-top: 0.25em;
		}
	}
	h5 {
		margin: 1em 0 0 0;
		padding-bottom: 0.25em;
		font-style: italic;
		@include font-size(1.8);

		+ p {
			margin-top: 0.25em;
		}
	}

	@include breakpoint($fixed-width) {

		h2 {
			@include font-size(3.2);
		}
		h3 {
			@include font-size(2.6);
		}
		h3 {
			@include font-size(2.4);
		}

	}
}
